In [1]:
import bisect

In [2]:
a = [1,4,6,8,12,15,20]
position = bisect.bisect(a,13)
print(position)
 
# 用可变序列内置的insert方法插入
a.insert(position,13)
print(a)

5
[1, 4, 6, 8, 12, 13, 15, 20]

In [8]:
a = [1,4,6,8,12,15,20]
bisect.insort(a,13)
print(a)

[1, 4, 6, 8, 12, 13, 15, 20]

In [9]:
import random

In [31]:
SIZE = 7
random.seed()
my_list = []
for i in range(SIZE):
    new_item = random.randrange(SIZE*2)
    bisect.insort(my_list, new_item)
    print('%2d->'%new_item, my_list)

12-> [12]
 0-> [0, 12]
 4-> [0, 4, 12]
 5-> [0, 4, 5, 12]
 3-> [0, 3, 4, 5, 12]
 3-> [0, 3, 3, 4, 5, 12]
 1-> [0, 1, 3, 3, 4, 5, 12]